"*":
  core:
    projectHome: "~/Projects"
  editor:
    fontSize: 12
    preferredLineLength: 120
    showIndentGuide: true
    showInvisibles: true
    softWrapAtPreferredLineLength: true
  welcome:
    showOnStartup: false
".basic.html.text":
  editor:
    tabLength: 4
".html.php.text":
  editor:
    tabLength: 4
".basic.html.text":
  editor:
    tabLength: 4
".text.xml":
  editor:
    tabLength: 4
".text.xml.xsl":
  editor:
    tabLength: 4
