'.text.html.php':
  'File':
    'prefix': 'file',
    'body': """
      <?php
      declare(strict_types = 1);
      $1
    """
  'Class':
    'prefix': 'class',
    'body': """
      <?php
      declare(strict_types = 1);

      class ${1: myClass}
      {
        $2
      }
    """
