'.source.js':
  'Ava test':
    'prefix': 'ava',
    'body': """
      import test from 'ava';

      test('${1:Test name.}', (t) => {
        $2
      });

    """

  'Ava test node 6':
    'prefix': 'ava-node',
    'body': """
      const test require('ava');

      test('${1:Test name.}', (t) => {
        $2
      });

    """

'.text.html.php':
  'File':
    'prefix': 'file',
    'body': """
      <?php
      declare(strict_types = 1);
      $1
    """
  'Class':
    'prefix': 'class',
    'body': """
      <?php
      declare(strict_types = 1);

      class ${1: myClass}
      {
        $2
      }
    """
